@charset "utf-8";

$border_color: #ccc;

@mixin shadow {
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}

@mixin fontawesome_basic {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// -----

.kanban-container {
  position: relative;
  box-sizing: border-box;
  width: auto;
  * {
    box-sizing: border-box;
  }
  &:after {
    clear: both;
    display: block;
    content: "";
  }
}

.kanban-board {
  position: relative;
  float: left;
  //background: #e2e4e6;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.kanban-board.disabled-board {
  opacity: 0.3;
}

.kanban-board.is-moving.gu-mirror {
  transform: rotate(3deg);
}

.kanban-board.is-moving.gu-mirror .kanban-drag {
  overflow: hidden;
  padding-right: 50px;
}

.kanban-board:first-child {
  margin-left: 0 !important;
}

.kanban-board:last-child {
  margin-right: 0 !important;
}

// If in a narrow screen
@media screen and (max-width: 640px) {
  .kanban-board {
    width: 100% !important;
    margin: 0 !important;
  }
}

.kanban-board {
  &:not(:last-child) { margin-right: 8px; }
  &:after {
    clear: both;
    display: block;
    content: "";
  }
  header {
    font-size: 16px;
    //padding: 15px;
    padding: .58333em 1em;
    line-height: 1;
    @include shadow;
    .kanban-title-board {
      font-weight: 700;
      margin: 0;
      padding: 0;
      //display: inline;
      display: flex;
      justify-content: space-between;
      .title-desc {
        padding: 3px 0; // Same padding as the badge
        white-space: nowrap;
      }
      .num-items {
        opacity: 0.8;
      }
    }
    .kanban-title-button {
      float: right;
    }
  }
  .kanban-drag {
    min-height: 200px;
    padding: 10px 0;
  }
}

.kanban-item {
  background: #fff;
  // Put the HD, BD, and FT elements in the item
  // and set the paddings to each of the elements.
  // padding: 15px;
  margin-bottom: 10px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  border: 1px solid $border_color;
  border-radius: 3px;
  overflow: hidden;
  @include shadow;
  :hover {
    cursor: move;
  }
  &:last-child {
    margin: 0;
  }
  &.is-moving.gu-mirror {
    transform: rotate(3deg);
    height: auto !important;
  }
  .hd {
    .eye-catch {
      max-height: 200px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
    .hd-container {
      padding: 8px;
      .title {
        font-weight: bold;
        display: inline-block;
        width: calc(100% - 36px);
      }
      .author {
        display: inline-block;
        width: 20px;
        vertical-align: top;
        img {
          vertical-align: middle;
          max-width: 20px;
          max-height: 20px;
          border-radius: 50%;
        }
      }
    }
  }
  .bd {
    .bd-container {
      padding: 0 8px 8px 8px;
      .task-details {
        display: flex;
        margin: 0 0 8px 0;
        .priority {
          height: 18px;
          &.p1 {
            background-color: #dea29e;
          }
          &.p2 {
            background-color: #f0c7a0;
          }
          &.p3 {
            background-color: #f0f08a;
            color: #aaa;
          }
          &.p4 {
            background-color: #ddd;
          }
        }
        .assigned {
          margin: 0 2px;
          img {
            max-height: 18px;
            border-radius: 50%;
            display: inherit;
          }
        } // .assigned
      } // .task-details
      .tags {
        margin: 8px 0 0 0;
        &> span {
          margin-right: 2px;
          display: inline-block;
          i {
            @include fontawesome_basic;
            margin-right: 4px;
            &:before {
              content: "\f02b";
              speak: none;
              display: inline-block;
              opacity: 0.7;
            }
          }
        }
      }
    } // .bd-container
  }
  .ft {
    .ft-container {
      padding: 8px;
      background-color: #f0f0f0;
      color: #999;
      text-align: right;
      .actions {
        & > * {
          vertical-align: middle;
        }
        & > span {
          margin-right: 4px;
        }
        i {
          @include fontawesome_basic;
        }
        .comments {
          i {
            transform: scale(-1, 1);
          }
          i:before {
            content: "\f075";
            speak: none;
          }
        }
        .tasks {
          i:before {
            content: "\f046";
            speak: none;
          }
        }
        .events {
          i:before {
            content: "\f073";
            speak: none;
          }
        }
      }
    } // .ft-container
  } // .ft
}

// Dragula CSS
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2 !important;
  transform: rotate(0deg) !important;
}

.drag_handler {
    background: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: relative;
    float: left;
    top: -3px;
    margin-right: 4px;
}

.drag_handler:hover {
  cursor: move;
}

.drag_handler_icon {
    position: relative;
    display: block;
    background: #000;
    width: 24px;
    height: 2px;
    top: 12px;
    transition: .5s ease-in-out;
}

.drag_handler_icon:before,
.drag_handler_icon:after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

 .drag_handler_icon:before {
    top: 6px;
}

.drag_handler_icon:after {
    bottom: 6px;
}
